.home-form {
  top: 0px;
  left: 80px;
  position: fixed;
  height: 100%;
  width: 100%;
  //left: 80px;
  //top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2e8c6;
}
