.results-form-main {
  //margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2e8c6;
  overflow: hidden;
}

.results-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dad4b5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 105px;
  margin-left: 25px;
  //margin-top: -80px;
  //margin-bottom: -100px;
}

.form-title {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

.form-row {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  width: 100%;
}

.form-input-first {
  font-size: 72px;
  width: 200px;
  height: 140px;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  background-color: #b7ab8e;
  color: black;
}

.form-input-second {
  font-size: 48px;
  width: 360px;
  height: 70px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 26px;
  text-align: center;
  position: relative;
  background-color: #b7ab8e;
  color: black;
  color-scheme: black;
}

.form-button {
  background-color: #982b1c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  //margin-left: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-button:disabled {
  background-color: #9a746f;
  color: white;
  cursor: not-allowed;
}

.form-button:hover {
  background-color: #7e251b;
}

.form-button:hover:disabled {
  background-color: #9a746f;
}

.form-main {
  width: 45%;
  min-width: 310px;
}

.modal-help-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-help-content {
  background-color: #f2e8c6;
  margin-left: 80px;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 450px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.instruction-image {
  width: 100%;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #f0290f;
  //color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.instructions-button {
  background-color: #1b68ba;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.instructions-button:hover {
  background-color: #0056b3;
}

.modal-help-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.instructions-text {
  text-align: left;
}

@media (max-width: 899px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-input-first,
  .form-input-second {
    font-size: 36px;
    //width: 360px;
    height: 70px;
    padding: 10px;
    width: 100%;
    //height: auto;
    //margin-right: 100px;
    margin-bottom: 4px;
  }

  .form-main {
    width: 50%;
  }
}

@media (max-width: 499px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  .form-input-first,
  .form-input-second {
    font-size: 24px;
    //width: 360px;
    height: 70px;
    padding: 0px;
    //width: 100%;
    //height: auto;
    //margin-right: 100px;
    margin-bottom: 4px;
    //border-radius: 20px;
  }

  .form-input-second {
    border-radius: 18px;
    //width: 220px;
  }

  /*.form-main {
      //width: 2%;
  }  */
}

@media (max-width: 431px) {
  .home-form{
    transform: scale(0.9);
    margin-left: -50px
  }
  .results-form {
    width: 100%;
    height: 100%;
    margin-left:0px;
    margin-right: 0px;
    //height: 100%;
    //margin-bottom: 1%;
    //margin-top: 1%
    padding: 0px;
  }

  .form-title {
    font-size: 24px;
    color: #333;
    //margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
    display: block;
    text-align: left;
  }
  
  .form-row {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .form-input-first {
    font-size: 20px;
    width: 200px;
    height: 36px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: #b7ab8e;
    color: black;
  }
  
  .form-input-second {
    font-size: 20px;
    width: 200px;
    height: 32px;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    text-align: center;
    position: relative;
    background-color: #b7ab8e;
    color: black;
    color-scheme: black;
  }
  
  .form-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    //margin-left: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #7e251b;
  }
  
  .form-button:hover:disabled {
    background-color: #9a746f;
  }
  
  .modal-help-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-help-content {
    background-color: #f2e8c6;
    margin-left: 0px;
    padding: 20px;
    border-radius: 8px;
    //max-width: 250px;
    width: 260px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    font-size: 11px;
    text-align: center;
  }
  .modal-help-content h2 {
    font-size: 14px;

  }
  .instruction-image {
    width: 80%;
    height: auto;
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
  
  .instructions-button {
    margin-top: 0px;
    cursor: pointer;
  }
  
  .modal-help-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  
  .instructions-text {
    text-align: left;
  }
}
}