* {
  user-select: none;
}

textarea,
input {
  cursor: text !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f2e8c6;
}

.history-form {
  margin-left: 80px;
  //overflow: hidden;
}

.results-history-container {
  //padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #f2e8c6;
}

.buttons-container {
  margin-bottom: 10px;
  margin-right: -540px;
}

.add-new-btn,
.generate-report-btn {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #982b1c;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.add-new-btn:hover,
.generate-report-btn:hover {
  background-color: #7e251b;
}

.result-item {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 13% 10% 21% 21% 13% auto;
  align-items: center;
  width: 62%;
  background-color: #dad4b5;
  position: relative;
  gap: 10px;
  min-width: 820px;
  max-width: 820px;
}

.result-data {
  display: contents;
}

.result-data span {
  text-align: left;
  padding: 0 5px;
  //font-weight: 500;
}

.result-date,
.result-time,
.result-systolic,
.result-diastolic,
.result-pulse {
  text-align: left;
}

.result-actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.result-actions::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  height: 165%;
  width: 1px;
  background-color: #898989;
}

.delete-btn,
.edit-btn,
.warning-icon {
  //padding: 5px;
  //cursor: pointer;
  //transition: color 0.3s, transform 0.3s;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.delete-btn:hover {
  color: #ff0000;
  transform: scale(1.3);
}

.edit-btn {
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.edit-btn:hover {
  color: #007bff;
  transform: scale(1.4);
}

.warning-icon {
  margin-top: 0px;
  font-size: 1.6rem;

  cursor: help;
}

.pagination {
  margin-top: 20px;
  width: 820px;
}

.pagination button {
  margin: 2px 3px;
  padding: 5px 10px;
  cursor: pointer;
  width: 40px;
  background-color: #982b1c;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
  background-color: #7e251b;
}

.pagination .active {
  font-weight: bold;
  background-color: #1c7d1f;
}

.pagination .active:hover {
  background-color: #1c7d1f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0px;
  //width: 100%;
  //height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 340px;
  //bround-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: black;
  text-align: center;
  position: relative;
}

.modal-content-options {
  margin-top: 20px;
  justify-self: center;
  text-align: left;
  margin-left: 28px;
}

select {
  margin-top: 5px;
  background-color: #b7ab8e;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: auto;
  //height: -;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

option {
  background-color: #ffffff;
  color: #000000;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.generate-btn {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #982b1c;
  transition: background-color 0.3s, transform 0.3s;
}

.generate-btn:hover {
  background-color: #7e251b;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  white-space: normal;
  z-index: 1000;
  top: 120%;
  width: 235px;
  display: none;
}

.warning-icon:hover + .tooltip {
  display: block;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.edit-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
  width: 100%;
  max-width: 300px;
}

.edit-form input[type="date"],
.edit-form input[type="time"],
.edit-form input[type="number"] {
  font-size: 30px;
  width: 100%;
  height: 60px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: #b7ab8e;
  color: black;
  color-scheme: black;
  font-weight: bold;
}

.edit-form input[type="number"] {
  letter-spacing: 4px;
}

.edit-form input[type="date"],
.edit-form input[type="time"] {
  font-size: 38px;
  font-weight: bold;
}

.edit-form button {
  background-color: #982b1c;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-form button.save-btn {
  background-color: #328b35;
}

.edit-form button.save-btn:hover {
  background-color: #108315;
}

.edit-form button.cancel-btn {
  background-color: #f44336;
}

.edit-form button.cancel-btn:hover {
  background-color: #e53935;
}

@media (max-width: 431px) {
  .history-form {
    margin-left: 60px;
    transform: scale(0.35);
    max-height: 100vh;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 290px;
  }


}