* {
  user-select: none;
}

textarea,
input {
  cursor: text !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f2e8c6;
}

.help-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  //width: calc(100vw - 80px);
  background-color: #f2e8c6;
  overflow: hidden;
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  height: 100vh;
  background-color: #f2e8c6;
}

.classification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 820px;
  //max-width: 800px;
  gap: 10px;
}

.classification-item {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 2fr;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.classification-item-label {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 2fr;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.normal {
  background-color: rgb(0, 128, 0);
}

.prehypertension {
  background-color: rgb(255, 255, 0);
  color: #333;
}

.stage1 {
  background-color: rgb(255, 165, 0);
}

.stage2 {
  background-color: rgb(255, 0, 0);
}

.crisis {
  background-color: rgb(139, 0, 0);
}

.hypotension {
  background-color: rgb(0, 128, 255);
}

.classification-item .ranges {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-right: 60px;
}

.classification-item .details {
  text-align: left;
  font-size: 13px;
}

.classification-item .classification {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}

.contact-container {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #dad4b5;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(32, 32, 32);
  margin-top: 5px;
}

.contact-form textarea {
  height: 180px;
}

.contact-form button {
  background-color: #982b1c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #7e251b;
}

// ekrany mniejsze niż 920px
@media (max-width: 920px) {
  .classification-container {
    width: 100%;
  }

  .contact-container {
    width: 90%;
  }

  .contact-form {
    padding: 10px;
  }
  .classification-item {
    padding: 8px;
    font-size: 10px;
  }

  .classification-item .ranges {
    font-size: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 12px;
  }

  .contact-form button {
    font-size: 12px;
    padding: 6px 12px;
  }
  .classification-item .details {
    text-align: left;
    font-size: 10px;
  }
  .classification-item .classification {
    text-align: left;
    font-size: 10px;
  }
}

// ekrany mniejsze niż 499px
@media (max-width: 431px) {
  .help-form {
    transform: scale();
    max-width: 320px;
    width: auto;
    gap: 0px;
    margin-left: 58px;
  }
  
  .help-container {
    padding: 6px;
    border-radius: 5px;
    height: 100vh;
    
  }
  
  .classification-container {
    margin-top: 10px;
    width: 100%;
    gap: 0px;
    margin-bottom: -17px;
  }

  .classification-item {
    display: flex;
    flex-direction: column; /* Układ pionowy dla całego kontenera */
    padding: 5px;
    border-radius: 0px;
  }

  .classification-row {
    display: flex;
    flex-direction: row; /* Układ poziomy dla classification i ranges */
    justify-content: space-between;
    align-items: center;
  }
  .classification-item-label{
    display: none;
  }
  .classification-item .classification,
  .classification-item .ranges {
    font-size: 10px;
    font-weight: 700;
  }
  
  .classification-item .ranges {
    display: none;
  }

  .classification-item .details {
    font-size: 10px;
    text-align: left;
  }

  .contact-container {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }
  .contact-container h2 {
    font-size: 16px;
  }
  
  .contact-form {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #dad4b5;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(32, 32, 32);
    margin-top: 5px;
  }
  
  .contact-form textarea {
    height: 50px;
  }
  
  .contact-form button {
    background-color: #982b1c;
    color: white;
    padding: 5px 13px;
    border: none;
    border-radius: 4px;
    margin-top: -6px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
}