body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f2e8c6;
  overflow: hidden;
}

.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  //width: calc(100vw - 40px);
  background-color: #f2e8c6;
  margin-left: 40px;
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 700px;
  width: 600px;
  padding: 20px;
  background-color: #dad4b5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-page h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.user-page .form-group {
  margin-bottom: 20px;
}

.user-page .form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.user-page input[type="email"] {
  width: 70%;
  margin-top: 8px;
  margin-bottom: -10px;
  margin-left: 50px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #b7ab8e;
  color: black;
  font-weight: bold;
}

.notification {
  margin-left: 73px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.options-button {
  display: table;
  width: 100%;
  padding: 10px;
  //margin-top: 5px;
  //margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #982b1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-button:disabled {
  background-color: #9a746f;
  cursor: not-allowed;
}

.options-button:hover:not(:disabled) {
  background-color: #7e251b;
}

.button-group {
  margin-top: 10px;
  //padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 78%;
  gap: 11px;
}

.button-group button {
  flex: 1;
  margin: 0;
  margin-bottom: 20px;
}

.save-changes {
  margin-left: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-page .modal {
  position: fixed;
  top: 0;
  //left: 40px;
  width: calc(100% + 80px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-page .modal-content {
  margin-left: 0px;
  background: #b7ab8e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.user-page .modal-content h3 {
  margin-bottom: 20px;
}

.user-page .modal-content button.cancel {
  background-color: #f44336;
}

.user-page .modal-content button:hover {
  opacity: 0.8;
}

.user-page .modal-content button.cancel:hover {
  opacity: 0.8;
}

.notification-settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin: 0 auto;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    line-height: 24px;
    font-size: 16px;
    color: #333;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      height: 24px;
      width: 50px;
      background-color: #ccc;
      border-radius: 24px;
      transition: background-color 0.3s ease;

      &::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        border-radius: 50%;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: transform 0.3s ease;
      }
    }

    input:checked + .slider {
      background-color: #4caf50;
    }

    input:checked + .slider::before {
      transform: translateX(26px);
    }

    .label {
      margin-left: 10px;
    }
  }
}

@media (max-width: 431px) {
  .user-form {
    margin-top: -30px;
    margin-right: -32px;
    margin-left: 0px;
    transform: scale(0.8);
    max-width: 400px;
  }

}
